<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <title>ブクマカアナライザー</title>  
  <link href="css.css" rel="stylesheet" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  <script type="text/javascript" src="https://code.createjs.com/soundjs-0.6.1.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>
<body>

<div id="container">
  <div id="header">
    <h1>title</h1>
  </div>
  <div id =input_area>
    <input type="text" id="input" /> <input type="submit" id="submit" />
  </div>
  <div id="result">
  
  </div>

  <div id="footer">
  </div>
</div>
</body>